<!-- Project 2 HTML Code -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Project 2</title>
        <script src="https://d3js.org/d3.v5.min.js"></script> <!-- D3 JS-->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!-- Plotly JS-->
        <!--<link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" -->
            <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous" -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
            
        <!-- Import CSS for style-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    
    <body>

        <!-- Add in project title -->
        <h3>Visualizations Project 2: Violent Crimes in Tucson, Arizona</h3>
     
        <!-- Add in summary -->
        <p>Our project is an analysis of Tucson PD’s publicly available data to explore whether or not the agency’s budgetary woes, manpower issues, and realignment of purpose have affected their day-to-day operations as far as: events (whether calls for service or officer initiated), arrests, use of force incidents, etc. To accomplish this, we will be providing visualizations that a user can explore.</p>

        <!---------------------------------------------------------->
        <!---------------------------------------------------------->
        <!---------------------------------------------------------->
        <!-- second row -->
        <div class="row">

            <!-- Add in dropdown button with selections -->
            <div class="col-md-6">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Select Year
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li></li><a class="dropdown-item" href="cnn.com">2019</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="">2020</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="">2021</a></li>
                      <li><hr class="dropdown-divider"></li>
                    </ul>
                  </div>
            </div>

            <!-- Add in manupulated chart 1 -->
            <div class="col-md-6">



            </div> 

        </div>


        <!---------------------------------------------------------->
        <!---------------------------------------------------------->
        <!---------------------------------------------------------->

        <!-- last row -->
        <div class="row">
            <!-- Add in fixed chart 1 -->
            <div class="col-md-4">



            </div> 
            <!-- Add in fixed chart 2 -->
            <div class="col-md-4">



            </div> 

            <!-- Add in fixed chart 3 -->
            <div class="col-md-4">



            </div> 



        </div>
        <div id="bar-plot"></div>
       
        
        <!-- Import JS -->
        <!-- script src="app.js"></script> -->
        <script src="api/budget.json"></script>
        <script src="{{ url_for('static', filename='js/budget.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>
